.git
.gitignore
node_modules
.next
.vscode
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
coverage
.idea
*.log
README.md
docker-compose.yml
Dockerfile
Dockerfile.dev
.dockerignore
